.text-range {
  display: inline-block;

  .text {
    font-family: monospace, monospace;
    font-size: 1em;
    white-space: pre;
  }

  textarea {
    overflow: hidden;
  }

  pre {
    display: none;
  }
}
