.console {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  & > .title {
    color: orange;
    border-bottom: 2px solid orange;
    margin-top: 0;
    margin-bottom: 0;
  }
}
