.entry-box {
  display: flex;
  align-items: center;

  & > * {
    margin: 2px;
  }

  .mode-label {
    position: relative;
    bottom: 3px;
    right: 3px;
    font-size: 24px;
  }

  .text-range {
    display: block;

    textarea {
      border: 1px solid white;
      background: #000000;
      color: white;
      padding: 5px;
    }
  }

  button {
    align-self: flex-end;
    margin-bottom: 8px;
  }
}
